body {
  font-family: 'Roboto', system-ui, sans-serif;
  background-color:#f7f4d5;
}
main{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

}

.title {
  background-color: #597b8b;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

section {
  margin-bottom: 24px;
  padding: 0px 20px;
}

p,h1,h2,li,dt,dd,h3,table{
    color: #105666;
}

.mark{
    background-color: rgb(230, 194, 194);
}
table,th,td{
    border: 1px solid black;
    border-radius: 7px;
}

.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.avatar{
    border-radius: 50%;
    max-width: 400px;
}

a{
    color: #222;
}

a:hover{
    color: #914d2e;
}

a:focus{
    color: #ff0000;
}

header::before {
  content: "★";
  color: silver;
}
